# Data Preprocessing

## Race Table

- 습도 정보에서 '%'를 제거
- 경기 등급 정보에서 숫자만을 남김

In [6]:
race[['humidity', 'humidity.1', 'level', 'race_level']].head()

  humidity  humidity.1  level  race_level
0      16%        16.0   혼4등급           4
1      16%        16.0   혼3등급           3
2      16%        16.0  혼OPEN           0
3      16%        16.0   국4등급           4
4      16%        16.0   국4등급           4

## Race Result Table 1

- 몸무게 정보에서 현재 몸무게/직전 대비 변화분을 각각 추출
- Rating 수치로부터 등급으로 변환 (한국 마사회 기준에 따름)

In [12]:
race_result[['weight', 'raw_weight', 'weight_diff', 'rating', 'horse_level_num']].head()

    weight  raw_weight  weight_diff  rating  horse_level_num
0   456(5)       456.0          5.0    33.0              5.0
1  460(10)       460.0         10.0    27.0              5.0
2  503(28)       503.0         28.0    26.0              5.0
3   491(7)       491.0          7.0    31.0              5.0
4   491(1)       491.0          1.0    32.0              5.0

## Race Result Table 2

- 직전 경기 결과를 담은 column들을 생성(이전 순위, 이전 기록 속도, 최근 1년 이내 단승식 승률 등)
- 또한 Cure Table에서 최근 1달 이내 진료 여부 더미 변수를 추출함

In [16]:
race_result[['rank', 'velocity', 'prev1_rank', 'prev1_velo', 'danwin1yr', 'new_distance', 'cure_in_1m']].head()

  rank  velocity prev1_rank  prev1_velo  danwin1yr  new_distance  cure_in_1m
0    1       NaN         12   14.067995   0.166667             0           0
1    2       NaN          6   14.938489   0.000000             0           0
2    3       NaN          2   15.625000   0.000000             0           0
3    4       NaN          1   16.339869   0.250000             0           0
4    5       NaN          7         NaN   0.083333             1           1

In [15]:
race_result.columns

Index(['date', 'round', 'url', 'name', 'code', 'rank', 'lane', 'sex', 'age',
       'jockey_w', 'rating', 'jockey', 'difference', 'weight', 'dandivi',
       'yeondivi', 's1fr', 'c1r', 'c2r', 'c3r', 'c4r', 'g1fr', 's1f', 'c1',
       'c2', 'c3', 'c4', 'g3f', 'g1f', 'record', 'cure_in_1m', 'weight_diff',
       'raw_weight', 'weight_added', 'distance', 'velocity', 'prev1_rank',
       'prev2_rank', 'prev3_rank', 'prev1_velo', 'prev2_velo', 'prev3_velo',
       'horse_level_num', 'year', 'month', 'choice', 'choice2', 'choice3',
       'danwin1yr', 'bokwin1yr', 'samwin1yr', 'jdanwin1yr', 'jbokwin1yr',
       'jsamwin1yr', 'jprev1_rank', 'jprev2_rank', 'jprev3_rank', 'humidity',
       'race_level', 'new_distance', 'weather'],
      dtype='object')

## Tistory Blog Data

- Tistory의 블로거가 2012년 1월부터 2017년 7월까지의 데이터를 크롤링한 것을 SQLite DB로 공유하고 있었음
- Python 모듈 중 sqlite3를 사용하면 SQLite DB를 조작할 수 있음
- 이를 활용해 Blog 데이터와 우리 팀의 데이터를 Aggregate 하였음

In [ ]:
import sqlite3

con = sqlite3.connect(r'C:\Users\myeon\Desktop\Data Science\project\db\race.db')
cursor = con.cursor()

cursor.execute("SELECT total_hn_bu.date, total_hn_bu.no, total_hn_bu.horse_no, total_hn_bu.distance, \
                total_hn_bu.race_time, \
                total_hn_bu.순위, grade.등급 FROM total_hn_bu, grade \
                WHERE total_hn_bu.horse_weight <> 0 AND \
                grade.horse_no = total_hn_bu.horse_no AND \
                grade.시작일자 <= total_hn_bu.date AND grade.종료일자 >= total_hn_bu.date ORDER BY total_hn_bu.horse_no, \
                total_hn_bu.date")

tistory = pd.DataFrame(cursor.fetchall())